version: '3.8'

services:
  mariadb:
    image: bitnami/mariadb:latest
    environment:
      - MARIADB_USER=bn_moodle
      - MARIADB_DATABASE=bitnami_moodle
      - ALLOW_EMPTY_PASSWORD=yes
    volumes:
      - 'mariadb_data:/bitnami/mariadb'

  moodle:
    image: bitnami/moodle:latest
    user: root
    environment:
      - MOODLE_DATABASE_HOST=mariadb
      - MOODLE_DATABASE_PORT_NUMBER=3306
      - MOODLE_DATABASE_USER=bn_moodle
      - MOODLE_DATABASE_NAME=bitnami_moodle
      - ALLOW_EMPTY_PASSWORD=yes
      # Važno: Caddy šalje saobraćaj preko proxy-ja
      - MOODLE_REVERSEPROXY=yes 
    volumes:
      - 'moodle_data:/bitnami/moodle'
      - 'moodledata_data:/bitnami/moodledata'
      - './install_plugins.sh:/install_plugins.sh'
    depends_on:
      - mariadb
    command: /bin/bash -c "/install_plugins.sh && /opt/bitnami/scripts/moodle/run.sh"

  caddy:
    image: caddy:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./Caddyfile:/etc/caddy/Caddyfile
      - caddy_data:/data
      - caddy_config:/config
    depends_on:
      - moodle

volumes:
  mariadb_data:
  moodle_data:
  moodledata_data:
  caddy_data:
  caddy_config: