version: '3.8'

services:
  mariadb:
    image: bitnami/mariadb:latest
    environment:
      - MARIADB_USER=bn_moodle
      - MARIADB_DATABASE=bitnami_moodle
      - ALLOW_EMPTY_PASSWORD=yes
    volumes:
      - 'mariadb_data:/bitnami/mariadb'

  moodle:
    image: bitnami/moodle:latest
    user: root  # Neophodno za instalaciju pluginova kroz skriptu
    ports:
      - '8080:8080'
      - '8443:8443'
    environment:
      - MOODLE_DATABASE_HOST=mariadb
      - MOODLE_DATABASE_PORT_NUMBER=3306
      - MOODLE_DATABASE_USER=bn_moodle
      - MOODLE_DATABASE_NAME=bitnami_moodle
      - ALLOW_EMPTY_PASSWORD=yes
      - MOODLE_REVERSEPROXY=yes # Korisno ako kasnije dodaješ SSL
    volumes:
      - 'moodle_data:/bitnami/moodle'
      - 'moodledata_data:/bitnami/moodledata'
      - './install_plugins.sh:/install_plugins.sh'
    depends_on:
      - mariadb
    # Prvo izvršava našu skriptu, a zatim originalni Bitnami proces za pokretanje Moodle-a
    command: /bin/bash -c "/install_plugins.sh && /opt/bitnami/scripts/moodle/run.sh"

volumes:
  mariadb_data:
    driver: local
  moodle_data:
    driver: local
  moodledata_data:
    driver: local